:root {
    --black-color: black;
    --grey-color: rgb(227, 226, 226);
    --brown-color: rgb(35,25,25);  
    --hover-brown-color: rgb(161, 147, 147);
}

* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 0.625rem;
    background-color: black;
}

body {
    position: relative;
}

body.overlay::before {
    content: "";
    position: fixed;
    inset: 0;    
    background: rgba(0, 0, 0, 0.9);
    z-index: 900;          
    pointer-events: auto; 
}

main {
    position: relative;
    top: 90px;
}

footer {
    position: relative;
    top: 90px;
}

/* HEADER */

header {
    padding: 15px 40px;
    border-bottom: 1px solid var(--grey-color);
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 60;
    background-color: var(--black-color);
}

.title > .first {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--hover-brown-color);
    z-index: 10;
    position: relative;
}

.title > .second {
    font-weight: 500;
    font-size: 2.1rem;
    color: var(--grey-color);
    z-index: 10;
    position: relative;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.hamburger.active {
    top: 55%;
}

.hamburger.active > span:first-child {
    transform: rotate(45deg);
    position: relative;
}

.hamburger.active > span:nth-child(2) {
    display: none;
}

.hamburger.active > span:last-child {
    transform: rotate(-45deg);
    position: relative;
    top: -9px;
}

.hamburger > span {
    width: 40px;
    background-color: var(--grey-color);
    height: 2px;
}

.nav.mobile {
    display: none;
}

.nav.mobile.active {
    display: flex;
    background-color: var(--black-color);
    width: 100%;
    height: calc(100% + 90px);
    z-index: 50;
    position: fixed;
    top: -90px;
    color: var(--grey-color);
    gap: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;
    margin-top: 50px;
}

.nav.mobile.active::-webkit-scrollbar {
    display: none;
}

.nav.mobile > a {
    cursor: pointer;
    list-style: none;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grey-color);
    text-decoration: none;
}

/* HEADER */

/* MAIN */

.promo, .about {
    width: 100%;
    min-height: 100px;
    padding: 40px 40px;
    border-bottom: 1px var(--grey-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.promo > img, .about > img {
    width: 100%;
}

.promo-text, .about-text {
    color: var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.promo-title, .info-title, .about-title, .wall-title, .ad-title, .process-title, .privacy-title {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--hover-brown-color);
}

.promo-descr, .info-descr, .about-descr, .wall-descr, .privacy-descr {
    font-size: 1.9rem;
    margin-top: 10px;
    color: var(--grey-color);
}

.promo-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.promo-links > a, .links-action > button, .about-btn {
    width: 350px;
    height: 60px;
    font-size: 1.8rem;
    background-color: var(--hover-brown-color);
    color: var(--black-color);
    text-align: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}

.promo-links > a::before, .links-action > button::before, .about-btn::before {
    content: '';
    position: absolute;
    left: 15px;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}

.promo-links > a::after, .links-action > button::after, .about-btn::after {
    content: '';
    position: absolute;
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}

.contact {
    display: flex;
    min-height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    color: var(--grey-color);
    font-size: 1.8rem;
    gap: 30px;
}

.contact-info {
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-block.links {
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.links-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.links-info > a {
    color: var(--grey-color);
    font-size: 1.8rem;
}

.links-action > button {
    padding: 0px 80px;
    width: 350px;
    text-align: center;
}

.info-title {
    font-size: 2.1rem;
}

.info-title > span {
    text-shadow: 1px 1px 1px var(--grey-color);
}

.info-descr > span {
    font-weight: 600;
}

.contact-map {
    width: 100%;
    height: 300px;
}

.map {
    height: 100%;
    width: 100%;
}

/* MAIN */

/* ABOUT */

.about-descr, .about-btn {
    margin-top: 10px;
}

.about-title > span {
    text-shadow: 1px 1px 1px var(--grey-color);
}

.about-text > a {
    text-decoration: none;
}

/* ABOUT */

/* WALL */

.wall-wrapper {
    padding: 30px 40px 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.wall-block {
    display: block;
    min-width: 250px;
    height: auto;
    position: relative;
    cursor: pointer;
}

.wall-block::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--grey-color);
}

.wall-block > img {
    width: 100%;
    height: 100%;
}

.wall-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--grey-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    z-index: 15;
    text-align: center;
}

.wall-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding-top: 50px;
}
.wall-title, .wall-descr {
    padding: 0px 40px;
    text-align: center;
}

/* WALL */

/* Individual pages with ads in them */
.wall-segment {
    padding: 30px 0px 0px 0px;
}

.main-title {
    color: var(--hover-brown-color);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    text-shadow: 1px 1px var(--grey-color);
    border: 1px solid var(--hover-brown-color);
    padding: 10px;
    min-width: 320px;
    width: 77%;
}

.advertisment-section, .process-section {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid var(--grey-color);
}

.advertisment-section, .process-section {
    padding: 25px 25px 40px 25px;
}

.ad-wrapper {
    width: 100%;
    border: 1px solid var(--grey-color);
    height: 300px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.3);
    position: relative;
}

.ad-wrapper-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--grey-color);
    font-size: 2.8rem;
}

.process-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.carousel {
    display: flex;
    gap: 0;  
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  display: none; 
}

.carousel img {
  width: 100%;
  height: 400px;  
  flex: 0 0 100%;
  object-fit: contain;
  scroll-snap-align: start;
}

.nav-btn {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  z-index: 5;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 5.5rem;
  cursor: pointer;
  user-select: none;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}

/* Individual pages with ads in them */

/* GENERAL */

.divider {
    width: 250px;
    height: 2px;
    background-color: var(--hover-brown-color);
}

/* GENERAL */

/* PRIVACY POLICY */

.privacy-wrapper {
    padding: 30px 30px;
}

.privacy-title, .privacy-descr {
    width: 100%;
}

.privacy-title.main {
    margin-top: 0px;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.privacy-date.main {
    color: var(--grey-color);
    font-size: 2.0rem;
    margin-top: 5px;
}

.privacy-date.main > span {
    font-weight: 600;
}

.privacy-descr.main {
    margin-top: 10px;
}

.privacy-descr > a {
    color: var(--grey-color);
}

.privacy-descr > span {
    font-weight: 600;
}

.privacy-title {
    margin-top: 40px;
}

.privacy-wrapper > .divider {
    margin-top: 10px;
    width: 100%;
}

.privacy-descr {
    margin-top: 30px;
}

/* MODAL WINDOW */

.modal-window.request {
    display: none;
}

.modal-window.request.active {
    position: fixed;
    background-color: var(--black-color);
    width: 95%;
    min-height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid var(--grey-color);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    z-index: 999;
}

.modal-title {
    font-size: 2.8rem;
    color: var(--hover-brown-color);
    text-align: center;
    font-weight: 700;
}

.modal-descr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.modal-descr > input, .modal-descr > textarea {
    width: 290px;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.7rem;
    border-radius: 3px;
}

.modal-descr > input::active {
    box-shadow: 3px 3px 5px var(--black-color);
}

.modal-descr > input::placeholder, .modal-descr > textarea::placeholder {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.modal-descr > textarea {
    min-height: 150px;
    flex-wrap: wrap;
    text-wrap: wrap;
    min-height: 100px;
    max-height: 300px;  
    resize: none;      
    overflow: scroll; 
}

.modal-policy > a {
    color: var(--grey-color);
    text-decoration: underline;
    font-size: 1.5rem;
}

.modal-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.modal-btns > button {
    width: 250px;
    height: 40px;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-btns > button:first-child {
    background-color: var(--hover-brown-color);
    outline: none;
    border: 1px solid var(--grey-color);
}

.modal-btns > button:first-child:hover {
    background-color: var(--brown-color);
    color: var(--grey-color);
}

.modal-btns > button:last-child {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--hover-brown-color);
}

.modal-btns > button:last-child:hover {
    text-decoration: underline;
}

/* MODAL WINDOW */

/* FOOTER */

footer {
    min-height: 100px;
    width: 100%;
    padding: 30px 60px;
    text-transform: uppercase;
    color: var(--grey-color);
    display: flex;
    justify-content:center;
    align-items: center;
    border-top: 1px solid var(--grey-color);
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.copyright-info {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.footer-links > a {
    color: var(--grey-color);
    font-size: 1.5rem;
    text-align: center;
}

.footer-links > a:hover {
    color: var(--hover-brown-color);
    text-shadow: 1px 1px 1px var(--grey-color);
}

/* FOOTER */

/* HIDDEN */

.nav.desktop {
    display: none;
}

/* HIDDEN */