:root {
    --black-color: black;
    --grey-color: rgb(227, 226, 226);
    --brown-color: rgb(35,25,25);  
    --hover-brown-color: rgb(161, 147, 147);
}

* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 0.625rem;
    background-color: black;
}

body {
    position: relative;
}

main {
    position: relative;
    top: 90px;
}

footer {
    position: relative;
    top: 90px;
}

/* HEADER */

header {
    padding: 15px 40px;
    border-bottom: 1px solid var(--grey-color);
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: var(--black-color);
}

.title > .first {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--hover-brown-color);
    z-index: 10;
    position: relative;
}

.title > .second {
    font-weight: 500;
    font-size: 2.1rem;
    color: var(--grey-color);
    z-index: 10;
    position: relative;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.hamburger.active {
    top: 55%;
}

.hamburger.active > span:first-child {
    transform: rotate(45deg);
    position: relative;
}

.hamburger.active > span:nth-child(2) {
    display: none;
}

.hamburger.active > span:last-child {
    transform: rotate(-45deg);
    position: relative;
    top: -9px;
}

.hamburger > span {
    width: 40px;
    background-color: var(--grey-color);
    height: 2px;
}

.nav.mobile {
    display: none;
}

.nav.mobile.active {
    display: flex;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    z-index: 8;
    position: fixed;
    top: -89px;
    color: var(--grey-color);
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: hidden;
}

.nav.mobile.active::-webkit-scrollbar {
    display: none;
}

.nav.mobile > li {
    cursor: pointer;
    list-style: none;
    font-weight: 500;
    text-transform: uppercase;
}

/* HEADER */

/* MAIN */

.promo {
    width: 100%;
    min-height: 100px;
    padding: 40px 40px;
    border-bottom: 1px var(--grey-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.promo > img {
    width: 100%;
}

.promo-text {
    color: var(--grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.promo-title, .info-title {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--hover-brown-color);
}

.promo-descr, .info-descr {
    font-size: 1.9rem;
    margin-top: 10px;
}

.promo-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.promo-links > a, .links-action > button {
    width: 350px;
    height: 60px;
    font-size: 1.8rem;
    background-color: var(--hover-brown-color);
    color: var(--black-color);
    text-align: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}

.promo-links > a::before, .links-action > button::before {
    content: '';
    position: absolute;
    left: 15px;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}

.promo-links > a::after, .links-action > button::after {
    content: '';
    position: absolute;
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}

.contact {
    display: flex;
    min-height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    color: var(--grey-color);
    font-size: 1.8rem;
    border-bottom: 1px var(--grey-color) solid;
    gap: 30px;
}

.contact-info {
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-block.links {
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.links-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.links-info > a {
    color: var(--grey-color);
    font-size: 1.8rem;
}

.links-action > button {
    padding: 0px 80px;
    width: 350px;
    text-align: center;
}

.info-title {
    font-size: 2.1rem;
}

.info-title > span {
    text-shadow: 1px 1px 1px var(--grey-color);
}

.info-descr > span {
    font-weight: 600;
}

.contact-map {
    width: 100%;
    height: 300px;
}

.map {
    height: 100%;
    width: 100%;
}

/* MAIN */

/* GENERAL */

.divider {
    width: 250px;
    height: 2px;
    background-color: var(--hover-brown-color);
}

/* GENERAL */

/* FOOTER */

footer {
    min-height: 100px;
    width: 100%;
    padding: 30px 60px;
    text-transform: uppercase;
    color: var(--grey-color);
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.copyright-info {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.footer-links > a {
    color: var(--grey-color);
    font-size: 1.5rem;
    text-align: center;
}

.footer-links > a:hover {
    color: var(--hover-brown-color);
    text-shadow: 1px 1px 1px var(--grey-color);
}

/* FOOTER */

/* HIDDEN */

.nav.desktop {
    display: none;
}

/* HIDDEN */