:root {
    --black-color: black;
    --grey-color: rgb(227, 226, 226);
    --brown-color: rgb(35,25,25);  
    --hover-brown-color: rgb(161, 147, 147);
}

* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 0.625rem;
    background-color: black;
}

/* HEADER */

header {
    color: var(--grey-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 100px;
    width: 100%;
    border-bottom: 1px var(--grey-color) solid;
    padding: 10px 60px;
    font-size: 1.9rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.title {
    cursor: pointer;
}

.title > .first {
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--hover-brown-color);
}

.title:hover {
    text-shadow: 1px 1px 1px var(--grey-color);
}

.nav.desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.nav.desktop {
    list-style: none;
}

.nav.desktop > a {
    cursor: pointer;
    color: var(--grey-color);
    text-decoration: none;
}

.nav.desktop > a:hover {
    color: var(--hover-brown-color);
    text-shadow: 1px 1px 1px var(--grey-color);
}

/* HEADER */

/* MAIN */

.promo, .about {
    width: 100%;
    min-height: 100px;
    padding: 40px 50px;
    border-bottom: 1px var(--grey-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.promo > img, .about > img {
    max-width: 60%;
    height: auto;
    border: none;
    border-radius: 3px;
    height: auto;
}

.promo-text, .about-text {
    color: var(--grey-color);
    font-size: 2.0rem;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.promo-title, .info-title, .about-title  {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--hover-brown-color);
}

.promo-descr, .info-descr, .about-descr {
    width: 70%;
    font-size: 2.3rem;
}

.promo-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.promo-links > a, .links-action > button, .about-btn {
    width: 420px;
    height: 60px;
    font-size: 2.3rem;
    background-color: var(--hover-brown-color);
    color: var(--black-color);
    text-align: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
}

.promo-links > a::before, .links-action > button::before, .about-btn::before {
    content: '';
    position: absolute;
    left: 15px;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}

.promo-links > a::after, .links-action > button::after, .about-btn::after {
    content: '';
    position: absolute;
    right: 15px;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
}


.promo-links > a:hover, .links-action > button:hover, .about-btn:hover {
    background-color: var(--brown-color);
    color: var(--grey-color);
    border: 1px solid var(--grey-color);
}

.promo-links > a:hover::before, .promo-links > a:hover::after, .links-action > button:hover::before, .links-action > button:hover::after, .about-btn:hover::before, .about-btn:hover::after {
    content: '';
    background-color: var(--grey-color)
}

.contact {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    color: var(--grey-color);
    font-size: 2.5rem;
    border-bottom: 1px var(--grey-color) solid;
}

.contact-info {
    display: flex;
    width: 45%;
    min-height: 100px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    padding: 0px 50px 0px 0px;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.info-block.links {
    width: 95%;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
}

.links-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.links-info > a {
    color: var(--grey-color);
    font-size: 2.3rem;
}

.links-action > button {
    width: 490px;
    text-align: center;
}

.info-descr {
    width: 95%;
}

.info-title > span {
    text-shadow: 1px 1px 1px var(--grey-color);
}

.info-descr > span {
    font-weight: 600;
}

.contact-map {
    width: 55%;
    height: 650px;
}

.map {
    height: 100%;
    width: 100%;
}

/* MAIN */

/* ABOUT */

.about-descr, .about-btn {
    margin-top: 20px;
}

.about-title > span {
    text-shadow: 1px 1px 1px var(--grey-color);
}

.about-text > a {
    text-decoration: none;
}

/* ABOUT */

/* GENERAL */

.divider {
    width: 300px;
    height: 2px;
    background-color: var(--hover-brown-color);
}

/* GENERAL */

/* FOOTER */

footer {
    min-height: 100px;
    width: 100%;
    padding: 0px 60px;
    text-transform: uppercase;
    color: var(--grey-color);
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright-info {
    font-size: 1.8rem;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.footer-links > a {
    color: var(--grey-color);
    font-size: 1.8rem;
}

.footer-links > a:hover {
    color: var(--hover-brown-color);
    text-shadow: 1px 1px 1px var(--grey-color);
}

/* FOOTER */

/* HIDDEN */
.hamburger {
    display: none;
}

.nav.mobile {
    display: none;
}
/* HIDDEN */